In [1]:
a = 10

- in python we donot need to define the variable datatype

In [2]:
a = 'c'

In [3]:
type(a)

str

- in python, there is only character. Only string is there

In [4]:
int()

0

In [5]:
int('123') - example of typecasting

123

In [6]:
int("abcd")

ValueError: invalid literal for int() with base 10: 'abcd'

In [7]:
print("abc")

abc

In [8]:
a

'c'

In [9]:
print(123)

123

In [10]:
age =32
print("my age is",age)

my age is 32

In [13]:
print(f"my age is :{age}") #f here means formatting - f string

my age is :32

In [14]:
name = "sneha"
age = 33
print("my name is {} and age is {}".format(name,age)) #order is important and sequence is important

my name is sneha and age is 33

In [15]:
print("my name is {} and age is {}".format("Avi",34))

my name is Avi and age is 34

In [16]:
print("my name is {} and age is {}".format(age,name))

my name is 33 and age is sneha

In [17]:
#placeholder
print("my name is {firstname} and age is {firstage}".format(firstname = name,firstage = age))

my name is sneha and age is 33

In [20]:
n1 = "Shiva"
a1 = 4
deg = "Masters"

In [22]:
print("My age is {} and i have completd: my degree of {} with the name of {}".format(a1,deg,n1))

My age is 4 and i have completd: my degree of Masters with the name of Shiva

# Decision Making Statement

# if Statement

In [24]:
age = 18
if age >= 18:
    print("you are eligible to vote")

you are eligible to vote

In [25]:
18 <= 18

True

In [26]:
input() #help us to take input while runtime

asdasds

'asdasds'

In [27]:
name = input("Enter your name")

Enter your nameSneha

In [28]:
name

'Sneha'

In [30]:
type(name) # Default data type of input()

str

In [31]:
age = int(input("Enter your age"))

Enter your age32

In [32]:
v1 = int(input("Please input your age"))

Please input your age32

In [33]:
if age >=18 and age <=45:
    print("you are young blood")

you are young blood

In [34]:
if age >=18 and age <=45:
    print("you are young blood")
    
else:
    print("we will let you know")

you are young blood

In [35]:
p1 = int(input("Enter the product price"))

Enter the product price2000

In [38]:
p1 = int(input("Enter the product price"))
if p1 > 1000:
    discount = 0.8 *p1
    print("your final price is",discount)

Enter the product price2000
your final price is 1600.0

In [39]:
p1 = int(input("Enter the product price"))
if p1 > 1000:
    print("your final price is {}".format(p1*0.8))

Enter the product price3000
your final price is 2400.0

In [41]:
p1 = int(input("Enter the product price"))
if p1 > 3000:
    print("your final price is {}".format(p1*0.8))
elif p1 >=2000 and p1 <= 3000:
    print("your final price is {}".format(p1*0.7))
elif p1 >=1000 and p1 <= 2000:
    print("your final price is {}".format(p1*0.6))
else:
    print("Better luck next time")

Enter the product price5000
your final price is 4000.0

In [42]:
p1 = int(input("Enter the product price"))
if p1 > 3000:
    if p1 == 4000:
        print("You have got a GOA trip")
    print("your final price is {}".format(p1*0.8))
elif p1 >=2000 and p1 <= 3000:
    print("your final price is {}".format(p1*0.7))
elif p1 >=1000 and p1 <= 2000:
    print("your final price is {}".format(p1*0.6))
else:
    print("Better luck next time")

Enter the product price4000
You have got a GOA trip
your final price is 3200.0

In [43]:
#comparison operator
True == True

True

In [44]:
#Single statement
val = int(input("enter number"))
if(val<=999):print("value is ")
else:
    print("Go home")

enter number10
value is

# while loop - is continuing checking the condition. it keep on running til the point its true.

In [45]:
joining_age = 25
i = 1

while joining_age <=60:
    joining_age = joining_age +1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [46]:
joining_age = 25
i = 1

while joining_age <=60:
    joining_age = joining_age +1
    print(joining_age)
else:
    print("retirement time")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
retirement time

In [47]:
joining_age = 25
i = 1

while joining_age <=60:
    print(joining_age)
    joining_age = joining_age +1
    
else:
    print("retirement time")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
retirement time

In [49]:
total_amount = 1000 

while total_amount !=0:
        print(total_amount)
        total_amount = total_amount - 100
else:
    print("please load money")

1000
900
800
700
600
500
400
300
200
100
please load money

# For loop

In [51]:
lst = ["s1",1,2,3,4,"monago","orange"]

In [53]:
for x in lst:
    print(x)
    if x == "orange":
        print("Fruits is orange")

s1
1
2
3
4
monago
orange
Fruits is orange

In [54]:
for x in lst:
    print(x,end="")
    if x == "orange":
        print("Fruits is orange")

s11234monagoorangeFruits is orange

In [ ]:
fr

In [56]:
fruit = "mango" #thsis collection of elements

for x in fruit:
    print(x)

m
a
n
g
o

In [58]:
fruit[1] #indexing also possible in string .

'a'

# Nested Loops

In [61]:
range(0,6)

range(0, 6)

In [62]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [66]:
n = 7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r") #carraige return- move to the leftmost side of next line but no space is added

*
**
***
****
*****
******
*******

In [67]:
n = 7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

### Loops controls

- break 


- continue

In [68]:
fruits = ["mango","cherry","apple","banana","papaya"]

In [69]:
for i in fruits:
    if i == "apple":
        print("the fruit is apple")
        break
    print(i)

mango
cherry
the fruit is apple

In [70]:
for i in fruits:
    if i == "apple":
        print("the fruit is apple")
        
    print(i)

mango
cherry
the fruit is apple
apple
banana
papaya

In [72]:
for i in fruits:
    if i == "apple":
        print("the fruit is apple")
        break #loop control- once the apple is found it break the loop and comes out of it
    print(i)

mango
cherry
the fruit is apple

In [74]:
for i in fruits:
    if i == "apple":
        print("the fruit is apple")
        pass #loop control-nothing happens
    print(i)

mango
cherry
the fruit is apple
apple
banana
papaya

In [75]:
for i in fruits:
    if i == "apple":
        print("the fruit is apple")
        continue #loop control-skips the apple -teh one step and move to next step
    print(i)

mango
cherry
the fruit is apple
banana
papaya