# Python Programming 

- to complete a task
- high - level ,general -purpose language
- web development,Machine learning applications ,app building,GUI application, image processing ,scientific computing
- free source
- several package/module/libraries which help to simply our tasks
- follows oops concepts
- Guido van rossum - 1991
- python 3

In [2]:
# to execute a code - Shift+enter
'''kjhkjh
dssdfsdf
fsddsfsdfsdfsdfsdfsdfsdsdf
This is a multi line coomment'''

In [4]:
#script begin-ignored-serves as documentation
print("Hello world!!")
#script ends

Hello world!!

# Language Features

1) Interpreted
 source code --> intermediate form (byte code)-->native language  
2) platform independent 
3) Free and open source
4) Highlevel language 
5) Simple - close to English language --> easy to learn
6) Embeddable 
7) Robust 
8) Rich library support - pandas( dataframe(tables) manipulation), seaborn ,matplotlib

In [5]:
3+4

7

In [6]:
5-1

4

In [7]:
3*4

12

In [8]:
4/2

2.0

In [9]:
222+33

255

# Variables - containers

In [10]:
num = 3
print(num)

3

In [11]:
n1 = 4.5
print(n1)

4.5

In [19]:
num = 'helloworld'
print(num)

helloworld

In [21]:
type(num)

str

In [22]:
type(n1)

float

In [23]:
m = 45
print(m)

45

In [24]:
type(m)

int

In [25]:
a = True
print(a)

True

In [26]:
type(a)

bool

In [27]:
a,b,c = "hello","world","hi"
print(a+b+c)

helloworldhi

In [29]:
a = 1 if 20>30 else 0

print("the value is" , str(a))

the value is 0

# Input/Output

input() - from user and convert it into a string

In [31]:
w = input("Enter your name")
print(w)

Enter your nameabc
abc

In [32]:
type(w)

str

In [35]:
w1 = int(input("Enter your age"))
print(w1)

Enter your age67899
67899

In [36]:
type(w1)

int

In [39]:
w1 = float(input("Enter your weight"))
print(w1)

Enter your weight34
34.0

In [40]:
type(w1)

float

In [44]:
w = input("Enter your name?\n")
print(w)

Enter your name?
abc
abc

In [47]:
x,y = input("enter two values").split()
print("no of boys",x)
print("no of girls",y)

enter two values4 5
no of boys 4
no of girls 5

In [48]:
x,y,z = input("enter two values").split()
print("no of boys",x)
print("no of girls",y)
print("total students",z)

enter two values3 4 5
no of boys 3
no of girls 4
total students 5

In [53]:
x = list(map(int,input("Enter multiple value").split())) # multiple inputs at atime & type-casting using list()
print("list of students",x)

Enter multiple value4 5 6 7 8 9 0
list of students [4, 5, 6, 7, 8, 9, 0]

In [54]:
print("hellp world")

hellp world

In [61]:
a = [1,2,3,4] #list

for i in range(4):
    print(a[i] , end= "\n")

1
2
3
4

In [63]:
print("g","b","v", sep ="@")

g@b@v

# Output Formatting

In [71]:
#print integer and float value 
# % - string module operator

print("no of girls : %d, no of boys : %f"%(5,7.88))

no of girls : 5, no of boys : 7.880000

In [68]:
print("i love {}my country{}".format('1',"2"))

i love 1my country2

 # Operators

values & variables

# arthematics operators - +,-,*,/

In [69]:
4/2 #output is decimal

2.0

In [70]:
4//2 #output is whole number

2

In [72]:
4%2 #gives remainder

0

In [73]:
 4**2

16

# Comparison operators

!= ,>=,<=,is,is not,x==y,>,<

= --> assignment operator
== --> comparison operator

In [76]:
a = 12
b = 12

In [77]:
print( a == b )

True

# Logical operators

and , or ,not

In [82]:
a = True
b = False

In [81]:
print( a and b)

True

In [83]:
print( a or b)

True

In [84]:
print( not a)

False

# Assignment operators

In [ ]:
 a +=b -- a = a+b